@font-face {
    font-family: 'neue-light';
    src: url(./fonts/NM-Light.otf);
}
@font-face {
    font-family: 'neue-reg';
    src: url(./fonts/NM-Regular.otf);
}
@font-face {
    font-family: 'neue-xb';
    src: url(./fonts/NM-Ultrabold.otf);
}
$LauNegro: #333333;
$LauBlanco:#DBDBDB;
$LauAmarillo:#EFD967;
$LauRosa:#FC8CEA;
$LauVioleta:#A259FF;
$LauVerde:#0ACF83;

@mixin span-config {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;   
}



::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $LauNegro;
    font-family: 'neue-light';
}
nav{
    width: 100%;
    height: 8rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $LauNegro;
    overflow: hidden;
    position: fixed;
    z-index: 4;
    .logo{
        @include span-config;
        width: 80px;
        height: 80px;
        margin: 0 2rem ;
        background-image: url(./img/logoDefault.svg);
        transition: ease-in-out 100ms ;
    }
    .logo:hover{
        background-image: url(./img/logoHover.svg);
    }
    ul{
        width: 60%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        li{
            list-style: none;
            text-align: center;
            a{
                text-decoration: none;
                color: $LauBlanco;
                font-family: 'neue-reg';
                font-size: 1rem;
                .mail{
                    width: 40px;
                    height: 20px;
                    @include span-config;
                    background-image: url(./img/email.svg);
                }
                .linkedin{
                    width: 160px;
                    height: 100px;
                    @include span-config;
                    background-image: url(./img/LinkedInLogo.svg);
                }
                .behance{
                    width: 160px;
                    height: 100px;
                    @include span-config;
                    background-image: url(./img/BehanceLogo.svg);
                }
                .cv{
                    width: 260px;
                    height: 80px;
                    background-color: $LauAmarillo; 
                    color: $LauNegro; 
                    padding: .5rem  1.6rem .5rem;
                    font-size: 1.5rem;
                    text-align: left;
                }
                .mas{
                    font-size: 3rem;
                }
                .mas-about{
                    color: $LauAmarillo;
                }
            }
            
        }

    }
}
.texto{
    width: 100%;
    height:auto;
    padding: 10rem 8rem;
    padding-bottom: 4rem;
    p{
        font-size: 4rem;
        color: $LauBlanco;
    }
}
.contenedor{
   margin: 0 auto;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    .card{
        width: 310px;
        height: 310px;
        border: solid 4px $LauNegro;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color: $LauNegro;
            p{
                font-size: 1.6rem;
                
            }
        }
    }
    .visualp{
        background-color: $LauAmarillo;
    }
    .uxp{
        background-color: $LauRosa;
    }
    .otrop{
        background-color: $LauVioleta;
    }
    .verde{
        background-color: $LauVerde;
    }

}
.all{
    width: 100%;
    height: auto;
    display: flex;
    .left{
        width: 50%;
        height: auto ;
        background-color: $LauRosa;
        .texto-about{
            width: 100%;
            height:auto;
            padding: 10rem  7rem;
            
            p{
                font-size: 2rem;
                color: $LauNegro;
                .dv{
                    width: 100px;
                    height: 80px;
                    @include span-config;
                    background-image: url('./img/davinci.png');
                }
            } 
        }
    }
    .right{
        width: 50%;
        height:100vh;
        background-color: $LauNegro;
        position: fixed;
        left: 50%;
        .container{
            width: 100%;
            height: auto;
            margin: 10rem 8rem;
        }
        p{
            color: $LauBlanco;
            font-size: 1rem;
            padding: 0;
            margin: 0;
        }
        .ux-tools{
            width: 300px;
            height: 300px;
           margin-bottom: 1rem;
           @include span-config;
            background-image: url('./img/ux-tools.svg');
        }
        .dev-tools{
            width: 300px;
            height: 200px;
            @include span-config;
            background-image: url('./img/dev-tools.svg');
        }
    }

}
.imagenes{
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    .img-left{
        width: 70%;
        height:100vh;
        padding-top: 6rem;
        p{
            color: $LauBlanco;
            margin: 2rem;

           
        }
        .ruddy{
            width: 1200px;
            height: 800px;
            background-image: url(./img/07-SHOPbosques.png);
            @include span-config;
        }
        .jhonny{
            width: 1200px;
            height: 800px;
            background-image: url(./img/03-MAINbosques.png);
            @include span-config;
        }

    }
    .text-right{
        width: 30%;
        height:100vh;
        background-color: transparent;
        .mobile{
            width: 300px;
            height: 1000px;
            margin-top: 10% ;
            @include span-config;
            background-image: url(./img/SHOP.png);
        }
        .mobile-main{
            width: 300px;
            height: 1000px;
            margin-top: 10% ;
            @include span-config;
            background-image: url(./img/MAIN.png); 
        }
    }
}




