@font-face {
  font-family: 'neue-light';
  src: url(./fonts/NM-Light.otf);
}

@font-face {
  font-family: 'neue-reg';
  src: url(./fonts/NM-Regular.otf);
}

@font-face {
  font-family: 'neue-xb';
  src: url(./fonts/NM-Ultrabold.otf);
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #333333;
  font-family: 'neue-light';
}

nav {
  width: 100%;
  height: 8rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333333;
  overflow: hidden;
  position: fixed;
  z-index: 4;
}

nav .logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 2rem;
  background-image: url(./img/logoDefault.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

nav .logo:hover {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url(./img/logoHover.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

nav ul {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  list-style: none;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #DBDBDB;
  font-family: 'neue-reg';
  font-size: 1rem;
}

nav ul li a .mail {
  width: 40px;
  height: 20px;
  display: inline-block;
  background-image: url(./img/email.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

nav ul li a .linkedin {
  width: 160px;
  height: 100px;
  display: inline-block;
  background-image: url(./img/LinkedInLogo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

nav ul li a .behance {
  width: 160px;
  height: 100px;
  display: inline-block;
  background-image: url(./img/BehanceLogo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

nav ul li a .cv {
  width: 260px;
  height: 80px;
  background-color: #EFD967;
  color: #333333;
  padding: .5rem  1.6rem .5rem;
  font-size: 1.5rem;
  text-align: left;
}

nav ul li a .mas {
  font-size: 3rem;
}

nav ul li a .mas-about {
  color: #EFD967;
}

.texto {
  width: 100%;
  height: auto;
  padding: 10rem 8rem;
  padding-bottom: 4rem;
}

.texto p {
  font-size: 4rem;
  color: #DBDBDB;
}

.contenedor {
  margin: 0 auto;
  width: 80%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

.contenedor .card {
  width: 310px;
  height: 310px;
  border: solid 4px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .card p {
  font-size: 1.6rem;
}

.contenedor .visualp {
  background-color: #EFD967;
}

.contenedor .uxp {
  background-color: #FC8CEA;
}

.contenedor .otrop {
  background-color: #A259FF;
}

.contenedor .verde {
  background-color: #0ACF83;
}

.contenedor .card1:hover {
  background-image: url(./img/ui-bosques-2.png);
  background-size: cover;
}

.contenedor .card1:hover p {
  display: none;
}

.contenedor .card2:hover {
  background-image: url(./img/contacto.png);
  background-size: cover;
}

.contenedor .card2:hover p {
  display: none;
}

.contenedor .card3:hover {
  background-image: url(./img/3.png);
  background-size: cover;
}

.contenedor .card3:hover p {
  display: none;
}

.all {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .left {
  width: 50%;
  height: auto;
  background-color: #FC8CEA;
}

.all .left .texto-about {
  width: 100%;
  height: auto;
  padding: 10rem  7rem;
}

.all .left .texto-about p {
  font-size: 2rem;
  color: #333333;
}

.all .left .texto-about p .dv {
  width: 100px;
  height: 80px;
  display: inline-block;
  background-image: url("./img/davinci.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.all .right {
  width: 50%;
  height: 100vh;
  background-color: #333333;
  position: fixed;
  left: 50%;
}

.all .right .container {
  width: 100%;
  height: auto;
  margin: 10rem 8rem;
}

.all .right p {
  color: #DBDBDB;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.all .right .ux-tools {
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
  display: inline-block;
  background-image: url("./img/ux-tools.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.all .right .dev-tools {
  width: 300px;
  height: 200px;
  display: inline-block;
  background-image: url("./img/dev-tools.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */